:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --white: #fff;
  --gray1: #fbfcff;
  --gray2: #f6f7fa;
  --gray3: #f3f4f7;
  --gray4: #e7e8ee;
  --gray5: #dbdde6;
  --gray6: #cfd1dd;
  --gray7: #c3c6d5;
  --gray8: #b7bbcc;
  --gray9: #abafc4;
  --gray10: #a0a4bb;
  --gray11: #9498b3;
  --gray12: #888daa;
  --gray13: #7c81a2;
  --gray14: #707699;
  --gray15: #666c8f;
  --gray16: #5d6383;
  --gray17: #555a77;
  --gray18: #4c516b;
  --gray19: #44485f;
  --gray20: #3b3f54;
  --gray21: #323546;
  --gray22: #2a2d3c;
  --gray23: #222531;
  --gray24: #17171a;
  --black: #000;

  --blue1: #e2f0ff;
  --blue2: #c5dfff;
  --blue3: #a9cdff;
  --blue4: #93bdff;
  --blue5: #5f97ff;
  --blue6: #517ddb;
  --blue7: #385bb7;
  --blue8: #233e93;

  --green1: #eefde2;
  --green2: #d8fcc5;
  --green3: #bcf6a6;
  --green4: #a0ed8d;
  --green5: #76e268;
  --green6: #50c24c;
  --green7: #34a239;
  --green8: #21832d;

  --yellow1: #fefae5;
  --yellow2: #fef4c6;
  --yellow3: #fee793;
  --yellow4: #fed861;
  --yellow5: #fec62d;
  --yellow6: #daa320;
  --yellow7: #b68316;
  --yellow8: #93640e;

  --red1: #fdeded;
  --red2: #fbdadc;
  --red3: #f5a3a7;
  --red4: #ef6b72;
  --red5: #ea3943;
  --red6: #e8212b;
  --red7: #cb151e;
  --red8: #941016;

  --turquoise1: #dafee9;
  --turquoise2: #b5fddb;
  --turquoise3: #8ffad2;
  --turquoise4: #72f6d1;
  --turquoise5: #45f0d1;
  --turquoise6: #32cec0;
  --turquoise7: #22abac;
  --turquoise8: #167f8b;

  --primary1: #fef7d5;
  --primary2: #feedad;
  --primary3: #fee083;
  --primary4: #fed365;
  --primary5: #febf32;
  --primary6: #da9c24;
  --primary7: #b67c19;
  --primary8: #935e0f;

  --foreground: var(--gray1);
  --background-body: var(--gray22);

  --link: var(--blue5);

  --color-button: var(--black);
  --color-button-disable: var(--gray18);
  --background-button: var(--primary5);
  --background-button-hover: var(--primary6);
  --background-button-disable: var(--gray23);
  --color-button-secondary: var(--primary5);
  --background-button-secondary: var(--gray23);
  --background-button-secondary-hover: transparency;
  --color-button-transparency: var(--primary5);
  --background-button-transparency: transparency;
  --background-button-transparency-hover: var(--primary6);
  --color-button-ghost: var(--primary5);
  --border-color-button-ghost: var(--primary5);
  --border-color-button-ghost-hover: var(--primary6);
  --border-color-button-ghost-disable: var(--gray18);
}

html {
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: --black;
    --background-body: --gray4;
    --link: --blue5;
  }

  html {
    color-scheme: light;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background-body);
}

a {
  color: inherit;
  text-decoration: none;
}
