.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 -5px;
}

.item {
  margin: 0 5px;
}

.langWrap {
  display: flex;
  align-items: center;
}

.langShortText {
  display: none;
}

@media (max-width: 768px) {
  .langText {
    display: none;
  }

  .langShortText {
    display: block;
  }
}
