.list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 -5px;
}

.item {
  margin: 0 5px;
}

.langWrap {
  display: flex;
  align-items: center;
}

.langFlag {
  font-size: 1.2rem;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .langFlag {
    margin-right: 0;
  }

  .langText {
    display: none;
  }
}
